/* src/pages/Backups.css */
.backups-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    text-align: center;
    padding: 20px;
  }
  
  .backups-header {
    margin-bottom: 20px;
  }
  
  .backups-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    background-color: #0984e3;
    color: #fff;
    padding: 10px 20px;
    margin: 20px;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .backups-footer {
    margin-top: 20px;
  }
  